include Mixins/Mixins.pug
doctype xml
Defs
  +Def("Job", "Creepers_Creep")
    driverClass Creepers.JobDrivers.Creep
    reportString creeping


  +Def("Sound", "Creepers_Creeper_Hurt")
    context MapOnly
    subSounds
      li
        volumeRange 20~28
        pitchRange 0.8~1.1
        distRange 0~50
        sustainLoop False
        grains
          li(Class="AudioGrain_Folder")
            clipFolderPath Creepers/Creeper_Hurt

  +Def("Sound", "Creepers_Creeper_Death")
    context MapOnly
    subSounds
      li
        volumeRange 20~28
        pitchRange 0.8~1.1
        distRange 0~50
        sustainLoop False
        grains
          li(Class="AudioGrain_Clip")
            clipPath Creepers/Creeper_death

  +Def("Sound", "Creepers_Creeper_Fuse")
    context MapOnly
    subSounds
      li
        volumeRange 20~28
        pitchRange 0.8~1.1
        distRange 0~50
        sustainLoop False
        grains
          li(Class="AudioGrain_Clip")
            clipPath Creepers/Creeper_fuse

  +Def("Thing", "Creepers_Creeper", "creeper")(ParentName="AnimalThingBase")
    statBases
      MoveSpeed 3.5
    race
      body QuadrupedAnimalWithHooves
      baseHungerRate 0
      hasGenders false
      thinkTreeMain Creepers_ThinkTree_Creeper
      soundMeleeHitPawn Pawn_Melee_SmallScratch_HitPawn
      soundMeleeHitBuilding Pawn_Melee_SmallScratch_HitBuilding
      soundMeleeMiss Pawn_Melee_SmallScratch_Miss
      lifeStageAges
        li
          def AnimalAdult
          minAge 0
          soundWounded Creepers_Creeper_Hurt
          soundDeath Creepers_Creeper_Death
          soundCall Creepers_Creeper_Fuse
          soundAngry Creepers_Creeper_Fuse

  +ThinkTreeDef("Creepers_ThinkTree_Creeper")
    //- Standard
    +ThinkNode("ThinkNode_ConditionalMustKeepLyingDown")
      +ThinkNode("JobGiver_KeepLyingDown")
    +ThinkNodeSubtree("Downed")
    +ThinkNodeSubtree("BurningResponse")
    +ThinkNode("ThinkNode_QueuedJob")
    //- Jobs
    +ThinkNode("Creepers.JobGivers.Creep")
    //- Wander
    +ThinkNode("ThinkNode_Tagger",{tagToGive:"Idle"})
      +ThinkNode("JobGiver_WanderAnywhere", {maxDanger:"Deadly",ticksBetweenWandersRange:"120~240"})
    +ThinkNode("JobGiver_IdleError")

  +Def("PawnKind", "Creepers_CreeperPawnKind", "creeper")(ParentName="AnimalKindBase")
    race Creepers_Creeper
    combatPower 200
    lifeStages
      li
        bodyGraphicData
          texPath Creepers/Creeper/Creeper
          drawSize 1.2
        dessicatedBodyGraphicData
          texPath Creepers/Creeper/Creeper
          drawSize 1.2

  +Def("Incident", "Creepers_Herd", "creeper herd")
    targetTags
      li Map_PlayerHome
    workerClass Creepers.IncidentWorkers.Herd
    baseChance 7
    category ThreatBig
    letterLabel Creeper Herd
    letterText A herd of wandering creepers have entered the area!
    letterDef ThreatBig
    minThreatPoints 100
    pointsScaleable true