name: Build

on:
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches:
      # - main
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-2019

    env:
      COREHOST_TRACE: false
      DOTNET_CLI_TELEMETRY_OPTOUT: 1          # Disable sending usage data to Microsoft
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1    # Prevent the caching of the packages on the build machine
      DOTNET_NOLOGO: true                     # Removes logo and telemetry message from first run of dotnet cli

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Read Metadata
      uses: antifree/json-to-variables@v1.0.1
      with:
        filename: 'metadata.json'
        prefix: metadata

    - name: Build application
      run: |
        npm install
        npm run buildpug production
        npm run buildsource

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.metadata_default_name }}
        path: |
          About
          Assemblies
          Defs
          Patches
          Textures
          Sounds
          News
          *.md
